<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Central de Resultados | Agrimat Participações.</title>
  <link rel="stylesheet" href="/static/css/resul.css"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>

  <!-- HERO -->
  <section class="hero">
    <div class="hero-content">
      <h1>Central de Resultados</h1>
      <p>Transparência e performance financeira em um só lugar.</p>
    </div>
  </section>

  <!-- CONTEÚDO PRINCIPAL -->
  <main class="conteudo">
    <div class="container">
      <header class="conteudo-header">
        <h2>Resultados e Relatórios</h2>
        <p>Encontre abaixo os documentos atualizados com os principais resultados financeiros da Agrimat Investimentos e Participações e suas controladas.</p>
      </header>

      <div class="cards-grid">

        <div class="card">
          <div class="card-icon"><i class="bi bi-bar-chart-fill"></i></div>
          <div class="card-body">
            <h3>2023 - Demonstrações Financeiras auditadas</h3>
            <p>Análise detalhada e auditada do desempenho de 2023.</p>
            <a href="/static/documentos/Agrimat2023 - Relatório Final.pdf" class="btn" target="_blank">Download PDF</a>
          </div>
        </div>

        <div class="card">
          <div class="card-icon"><i class="bi bi-bar-chart-fill"></i></div>
          <div class="card-body">
            <h3>2024 - Demonstrações Financeiras auditadas</h3>
            <p>Análise detalhada e auditada do desempenho de 2024.</p>
            <a href="/relatorio2024" class="btn" target="_blank">Download PDF</a>
          </div>
        </div>

        <div class="card">
          <div class="card-icon"><i class="bi bi-easel-fill"></i></div>
          <div class="card-body">
            <h3>Apresentação Institucional</h3>
            <p>Visão estratégica e posicionamento da empresa no setor.</p>
            <a href="/static/documentos/Fact Sheet 2024 - Agrimat.pdf" class="btn" target="_blank">Download PDF</a>
          </div>
        </div>

      </div>
    </div>
  </main>

  <!-- RODAPÉ -->
  <footer class="footer">
      <p>&copy; 2025 Agrimat Investimentos e Participações S.A. | Todos os direitos reservados.</p>
    </div>
  </footer>

</body>
</html>
