<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Composição Acionária | Agrimat Participações.</title>
  <link rel="stylesheet" href="/static/css/composicao.css" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <section class="hero">
    <img src="/static/imagens/IMG-20250422-WA0418.jpg" alt="Imagem de fundo" class="hero-bg">
    <div class="hero-content">
      <h1>Composição Acionária</h1>
      <p>Compromisso com o meio ambiente e a sociedade.</p>
    </div>
  </section>
  
  <!-- Conteúdo Principal -->
  <section class="conteudo">
    <div class="container">
      <h2>Distribuição do Capital Social</h2>
      <p>A Agrimat Participações. preza pela transparência na composição de seu capital. Abaixo, apresentamos a estrutura acionária atual da companhia:</p>

      <!-- Nova imagem substituindo a tabela -->
      <div class="imagem-composicao">
        <img src="/static/imagens/Composição_acionária.png" alt="Composição Acionária da ObraPesada S.A.">
      </div>

    </div>
  </section>

  <!-- Rodapé -->
  <footer>
    <div class="container">
      <p>&copy; 2025 Agrimat Investimentos e Participações S.A. | Todos os direitos reservados.</p>
    </div>
  </footer>

</body>
</html>
