<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Agrimat Participações.</title>
  <link rel="stylesheet" href="/static/css/estatuto.css" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
  <!-- Seção Estatuto -->
  <section class="estatuto-section">
    <!-- Imagem de fundo -->
    <img src="/static/imagens/IMG-20250422-WA0414.jpg" alt="Fundo" class="background-img">
    <section class="background-extension"></section>

    <h2 class="section-title">Estatuto, Regimentos e Políticas</h2>
    <div class="document-grid">
      <div class="document-card">
        <i class="bi bi-file-earmark-text"></i>
        <h3><a href="#">Estatuto Social</a></h3>
        <a href="/static/documentos/Estatuto Social - Agrimat Investimentos e Participações S.A..pdf" class="btn">Ver Documento</a>
      </div>
      <div class="document-card">
        <i class="bi bi-file-earmark-text"></i>
        <h3><a href="#">Regimento Interno</a></h3>
        <a href="#" class="btn">Ver Documento</a>
      </div>
      <div class="document-card">
        <i class="bi bi-file-earmark-text"></i>
        <h3><a href="#">Código de Conduta</a></h3>
        <a href="#" class="btn">Ver Documento</a>
      </div>
      <div class="document-card">
        <i class="bi bi-file-earmark-text"></i>
        <h3><a href="#">Política de Sustentabilidade</a></h3>
        <a href="#" class="btn">Ver Documento</a>
      </div>

    </div>
  </section>
<!-- Rodapé -->
<footer>
  <div class="container">
    <p>&copy; 2025 Agrimat Investimentos e Participações S.A. | Todos os direitos reservados.</p>
  </div>


</body>
</html>
