<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Setores de Atuação - Agrimat</title>
  <link rel="stylesheet" href="/static/css/setores_Atuacao.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

  <!-- Cabeçalho fixo -->
  <header class="header">
    <h1>Agrimat Investimentos e Participações S.A</h1>
    <p>Referência em infraestrutura e inovação.</p>
  </header>

  <!-- Seção dos setores -->
  <section id="setores" class="setores-atuacao">
    <h2 class="section-title">Setores de Atuação</h2>
    <p class="section-description">
      A Agrimat é uma empresa referência no setor de infraestrutura, com atuação destacada no desenvolvimento, execução e gestão de projetos de grande porte que aliam solidez técnica, inovação e impacto social, gerando alto valor percebido por clientes públicos e privados. Suas atividades abrangem os setores de:
    </p>

    <div class="setores-grid">
      <!-- Setor 1 -->
      <div class="setor-card">
        <img src="/static/imagens/IMG-20250422-WA0413.jpg" alt="Incorporação">
        <div class="img-overlay">
          <p>Obras de infraestrutura pesada (terraplenagem, pavimentação, drenagem e urbanização);</p>
        </div>
      </div>

      <!-- Setor 2 -->
      <div class="setor-card">
        <img src="/static/imagens/IMG-20250422-WA0415.jpg" alt="Aeroporto Executivo">
        <div class="img-overlay">
          <p>Locação de equipamentos para construção e manutenção de obras.</p>
        </div>
      </div>

      <!-- Setor 3 -->
      <div class="setor-card">
        <img src="/static/imagens/IMG-20250422-WA0414.jpg" alt="Construção Pesada">
        <div class="img-overlay">
          <p>Desenvolvimento urbano com foco em mobilidade e acessibilidade.</p>
        </div>
      </div>

      <!-- Setor 4 -->
      <div class="setor-card">
        <img src="/static/imagens/IMG-20250422-WA0417.jpg" alt="Logística e Infraestrutura">
        <div class="img-overlay">
          <p>Obras de infraestrutura pesada (terraplenagem, pavimentação, drenagem e urbanização)</p>
        </div>
      </div>
      
    </div>
  </section>
  
<!-- Rodapé -->
<footer>
  <p>© 2025 Agrimat Investimentos e Participações S.A | Todos os direitos reservados.</p>
</footer>
</body>
</html>


</body>
</html>
